
.Intro{
    text-align: center;
}

.intro {
    display: flex;
    flex-direction: column;
    background-color: rgba(251, 238, 226, 0.1);
}

.intro-channel-container {  
    display: grid;
    /* row column */
    grid-gap: 50px 100px; 
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.intro-channel-item {
    /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.intro-channel {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}


.intro-channel-left {
    margin-left: 80px;
    width: 640px;
}

.intro-channel-right {
    margin-right: 40px;
    width: 460px;
}

.channel-line {
    display: flex;
    flex-direction: row;
}

.channel-board {
    margin: 18px auto 20px 22px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
}

.channel-board-main {
    width: 400px;
    text-align: left;
}

.channel-board-more {
    width: 70px;
    text-align: right;
}

.channel-board-mmain {
    width: 300px;
    text-align: left;}

